<form action="/recipes" method="post">
  Name: <br>
  <input type="text" name="name"><br>
  Description: <br>
  <input type="text" name="description"><br>
  Preparation duration: <br>
  <input type="text" name="preparation_duration"><br>
  difficulty (1 to 4): <br>
  <input type="text" name="difficulty"><br><br>
  <input type="submit" value="Create">
</form>

